@font-face{
  font-family: 'grooved';
  src: url('fonts/Arsenal-Regular.ttf') format(truetype);

}

#inputBox{
  border-bottom:black solid 2px;
  background:#848eb1;
}

.sample{
  position:absolute;
  width:100%;
  padding-top:48px;
  padding-bottom:48px;
  margin-top: 0px;
}

.sample2{
    position: fixed;
    top: 0px;
    width: 80%;
    padding: 15px;
    background:#848eb1;
}

.tab{
  width:150px;
  height:50px;
  position:fixed;
  border:2px solid black;
  box-shadow:1px 1px 5px 0px white;
  border-top:none;
  display:none;
  top:0;
  left:50%;
  transform:translateX(-50%);
  background: linear-gradient(to right, grey 10%, transparent 10%, transparent 90%, grey 90%), 
  linear-gradient(to bottom,grey 14%, black 14%, black 28%, grey 28%, grey 42%, black 42%, black 56%, grey 56%, grey 70%, black 70%, black 84%, grey 84%);
}

.main{
  background:#848eb1;
  width:80%;
  position:absolute;
  left:10%;
  outline:solid 2px black;
}


body{
  background:#0f3657;
}



input:hover{
  background:#6ca8fe;
}


button{
  font-weight:bold;
  font-family:sans-serif;
  color:#c0c3c6;
  border: solid black 2px;
  font-size:15px;
  cursor:pointer;
}



#button1:hover, #reset:hover{
  background:grey;
  color:black;
}

#button1{
  background:rgba(7,91,164,1);
}

#reset{
  background:rgba(91,2,18,1);
}

.add, .minus{
  background:black;
  color:white;
  width:50px;
  height:50px;
  font-size:20px;
}

.add:hover, .minus:hover{
  background:white;
  color:black;
}


.input-flex{
  display:flex;
  justify-content:center;
}


h2{font-size:40px;
text-transform:uppercase;
padding:5px;
text-align:center;
color:rgba(91,2,18,1);
}

#title{
  text-align:center;
  background:#5e656b;
  color:white;
  margin:0px;
  padding:30px;
  font-size:45px;
  text-transform:uppercase;
  /*outline:solid 2px black;*/

  font-family: 'Bebas Neue', cursive;
}

#part2{
  background:#5e656b;
  outline:solid 2px black;
  min-height:100%;
  padding:10px;
  margin-top:528px;
}

#info{
  line-height:3;
  margin:30px 0;
}

.styled-table{
  margin:auto;
  border:solid black 3px;
  background:rgba(7,91,164,1);
}

.styled-table td, th{
  border:solid black 1px;
  width:200px;
}

.styled-table th{
  background:#7b848c;
  padding:5px;
  text-transform:uppercase;
}

.styled-table tr{
  background:#c0c3c6;
}

.styled-table tr:hover{
  background:#6ca8fe;
}

input{
  background:#c0c3c6;
  border:solid black 1px;
  text-align:right;
  width:110px;
  border-radius:5px;
  margin:0px 10px;
}


.stuff{
  font-style:italic;
  font-size:15px;
}



other{color:green;
font-size:100px;}

@media screen and (max-width:700px){
  .sample2{
    width:100%;
  }

  input{
    font-size:1.25em;
  }

  #button1, #reset{
    width:200px;
    height:50px;
    margin:10px;
  }

  table{
    font-size:1.5em;
  }

  label{
    display:block;
  }

  .main{
    width:100%;
    left:0%;
  }

  
}



